<!doctype html>

<html>
  <head>
    <meta charset=utf-8>
    <title>Semaphore API</title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>

  <body>
    <div class="table-of-content">
      <div class="logo">
        <img height="45" width="181" alt="Semaphore" src="https://d1dkupr86d302v.cloudfront.net/assets/application_bootstrap/layout/semaphore-logo-a6d954e176b6975b511f314a0cc808dc94a8030210077e3a6e904fbe69dc5354.svg">
      </div>

      <ul class="section-nav">
        <li class="nav-h2">Legend:</li>
        <li class="nav-h3">✖ - Not implemented</li>
      </ul>

      <%= table_of_content %>
    </div>
    <div class="content">
      <%= body %>
    </div>
  </body>
</html>
