#%RAML 1.0
title: Semaphore
version: v2
baseUri: https://api.semaphoreci.com
mediaType: application/json

types:
  Error:
    type: object
    properties:
      message: string
  UserPost:
    type: object
    properties:
      name: string
  User:
    type: UserPost
    properties:
      id: integer
  Org:
    type: object
    properties:
      id: integer
      name: string
  TeamPatch:
    type: object
    properties:
      name?: string
      permission?:
        enum: [read, write, admin]
      description?: string
  TeamPost:
    type: object
    properties:
      name: string
      permission:
        enum: [read, write, admin]
      description?: string
  Team:
    type: TeamPost
    properties:
      id: integer
      url: string
  ProjectPost:
    type: object
    properties:
      name: string
      description?: string
  ProjectPatch:
    type: object
    properties:
      name?: string
      description?: string
  Project:
    type: ProjectPost
    properties:
      id: integer
  SharedConfigPatch:
    type: object
    properties:
      name?: string
      description?: string
  SharedConfigPost:
    type: object
    properties:
      name: string
      description?: string
  SharedConfig:
    type: SharedConfigPost
    properties:
      id: integer
  SharedEnvVarPatch:
    type: object
    properties:
      key?: string
      value?: string
  SharedEnvVarPost:
    type: object
    properties:
      key: string
      value: string
  SharedEnvVar:
    type: SharedConfigPost
    properties:
      id: integer
  SharedConfFilePatch:
    type: object
    properties:
      name?: string
      content?: string
  SharedConfFilePost:
    type: object
    properties:
      name: string
      content: string
  SharedConfFile:
    type: SharedConfFilePost
    properties:
      id: integer

traits:
  withRequestItem:
    body:
      application/json:
        type: <<item>>
  withResponseItem:
    responses:
      200:
        body:
          application/json:
            type: <<item>>
  withResponseItems:
    responses:
      200:
        body:
          application/json:
            type: <<item>>[]
  withCreateResponse:
    responses:
      201:
        body:
          application/json:
            type: <<item>>
  withNoBodyResponse:
    responses:
      204:
  withClientError:
    responses:
      400:
        body:
          application/json:
            type: Error
  withNotFoundError:
    responses:
      404:
        body:
          application/json:
            type: Error
  withPreconditionFailedError:
    responses:
      412:
        body:
          application/json:
            type: Error

/users:
  description: Manage Semaphore users
  get:
    description: List all users
    is: [ withResponseItems: {item : User}, withClientError ]

  post:
    description: Create new user
    is: [ withRequestItem: {item : UserPost},
          withCreateResponse: {item : User},
          withClientError ]
    body:
      example: {name: jon}
            # example: { "message" : "User 'jon' already exists" }
  /{user_id}:
    get:
      description: Show {user_id} user
    delete:
      description: Delete {user_id} user

/orgs:
  description: Manage Semaphore organizations
  get:
    description: Get list of all organizations
    is: [withResponseItems: {item : Org}]
  /{org_name}:
    get:
      description: Get organization details
      is: [withResponseItem: {item : Org}, withNotFoundError]
    /teams:
      get:
        description: List teams that belong to {org_name} organisation
        is: [withResponseItems: {item : Team}]
      post:
        description: Create team within the {org_name} organization
        is: [withRequestItem: {item : TeamPost},
             withResponseItem: {item : Team},
             withNotFoundError,
             withPreconditionFailedError]
    /projects:
      get:
        description: List projects that belong to {org_name} organisation
        is: [withResponseItems: {item : Project}]
      post:
        description: Create projects within the {org_name} organization
        is: [withRequestItem: {item : ProjectPost},
             withResponseItem: {item : Project},
             withNotFoundError,
             withPreconditionFailedError]
    /shared-configurations:
      get:
        description: List shared configurations that belong to {org_name} organisation
        is: [withResponseItems: {item : SharedConfig}]
      post:
        description: Create shared configuration within the {org_name} organization
        is: [withRequestItem: {item : SharedConfigPost},
            withResponseItem: {item : SharedConfig},
            withNotFoundError,
            withPreconditionFailedError]

/teams/{team_id}:
  description: Manage Semaphore teams
  get:
    description: Get team details
    is: [withResponseItem: {item : Team}, withNotFoundError]
  delete:
    description: Delete team
    is: [withNoBodyResponse, withNotFoundError]
  patch:
    description: Update team
    is: [withRequestItem: {item : TeamPatch}, withResponseItem: {item : Team}, withNotFoundError]
  /users:
    description: Manage relations between {team_id} team and itc members
    get:
      description: List {team_id} team members
      is: [withResponseItems: {item : User}, withNotFoundError]
    /{username}:
      post:
        description: Grant {username} user membership in {team_id} team
        is: [withNoBodyResponse, withNotFoundError]
      delete:
        description: Revoke {username} user membership in {team_id} team
        is: [withNoBodyResponse, withNotFoundError]
  /projects:
    description: Manage relations between {team_id} team and itc projects
    get:
      description: List all projects belonging to {team_id} team
      is: [withResponseItems: {item : Project}, withNotFoundError]
    post:
      description: Create a project belonging to {team_id} team
      is: [withRequestItem: {item : ProjectPost}, withNotFoundError]
  /shared-configurations:
    get:
      description: List all shared configurations added to {team_id} team
      is: [withResponseItems: {item : SharedConfig}, withNotFoundError]
    /{sc_id}:
      description: Manage relations between {team_id} team and
                    {sc_id} shared configuration
      post:
        description: Add {sc_id} shared configuration to {team_id} team
        is: [withNoBodyResponse, withNotFoundError]
      delete:
        description: Remove {sc_id} shared configuration from {team_id} team
        is: [withNoBodyResponse, withNotFoundError]

/projects/{project_id}:
  description: Manage Semaphore projects
  get:
    description: Show {project_id} project details
    is: [withResponseItem: {item : Project}, withNotFoundError]
  delete:
    description: Delete {project_id} project
    is: [withNoBodyResponse, withNotFoundError]
  patch:
    description: Update {project_id} project
    is: [withRequestItem: {item : ProjectPatch}, withResponseItem: {item : Project}, withNotFoundError]
  /shared-configurations:
    get:
      description: List all shared configurations attached to {project_id} project
      is: [withResponseItems: {item : SharedConfig}, withNotFoundError]
    /{sc_id}:
      post:
        description: Attach {sc_id} shared configuration to {project_id} project
        is: [withResponseItem: {item : SharedConfig}, withNotFoundError]
      delete:
        description: Dettach {sc_id} shared configuration from {project_id} project
        is: [withNoBodyResponse, withNotFoundError]
  /shared-environment-variables:
    get:
      description: List all shared env variables connected to
                    {project_id} project
      is: [withResponseItems: {item : SharedEnvVar}, withNotFoundError]
    /{sev_id}:
      post:
        description: Connect {sev_id} shared env var to {project_id} project
        is: [withNoBodyResponse, withNotFoundError]
      delete:
        description: Dissconnect {sev_id} shared env var from {project_id} project
        is: [withNoBodyResponse, withNotFoundError]
  /shared-configuration-files:
    get:
      description: List all shared conf files connected to {project_id} project
      is: [withResponseItems: {item : SharedConfFile}, withNotFoundError]
    /{scf_id}:
      post:
        description: Connect {scf_id} shared conf file to {project_id} project
        is: [withNoBodyResponse, withNotFoundError]
      delete:
        description: Dissconnect {scf_id} shared conf file from {project_id} project
        is: [withNoBodyResponse, withNotFoundError]

/shared-configurations:
  description: Manage Semaphore shared configurations
  /{sc_id}:
    get:
      description: Show {sc_id} shared config details
      is: [withResponseItem: {item : SharedConfig}, withNotFoundError]
    delete:
      description: Delete {sc_id} shared config
      is: [withNoBodyResponse, withNotFoundError]
    patch:
      description: Update {sc_id} shared config
      is: [withRequestItem: {item : SharedConfigPatch},
          withResponseItem: {item : SharedConfig}, withNotFoundError]
    /shared-environment-variables:
      get:
        description: List all shared env variables belonging to {sc_id} shared config
        is: [withResponseItems: {item : SharedEnvVar}, withNotFoundError]
      post:
        description: Create shared environment variable within {sc_id} shared config
        is: [withRequestItem: {item : SharedEnvVarPost},
            withResponseItem: {item : SharedEnvVar}, withNotFoundError]
    /shared-configuration-files:
      get:
        description: List all shared config files belonging to {sc_id} shared config
        is: [withResponseItems: {item : SharedConfFile}, withNotFoundError]
      post:
        description: Create shared config file within {sc_id} shared configuration
        is: [withRequestItem: {item : SharedConfFilePost},
            withResponseItem: {item : SharedConfFile}, withNotFoundError]

/shared-environment-variables:
  description: Manage Semaphore shared environment variables
  /{sev_id}:
    get:
      description: Show {sev_id} shared env variable details
      is: [withResponseItem: {item : SharedEnvVar}, withNotFoundError]
    delete:
      description: Delete {sev_id} shared env variable
      is: [withNoBodyResponse, withNotFoundError]
    patch:
      description: Update {sev_id} shared env variable
      is: [withRequestItem: {item : SharedEnvVarPatch},
          withResponseItem: {item : SharedEnvVar}, withNotFoundError]

/shared-configuration-files:
  description: Manage Semaphore shared configuration files
  /{scf_id}:
    get:
      description: Show {scf_id} shared config file details
      is: [withResponseItem: {item : SharedConfFile}, withNotFoundError]
    delete:
      description: Delete {scf_id} shared config file
      is: [withNoBodyResponse, withNotFoundError]
    patch:
      description: Update {scf_id} shared config file
      is: [withRequestItem: {item : SharedConfFilePatch},
          withResponseItem: {item : SharedConfFile}, withNotFoundError]
