#%RAML 1.0
title: Semaphore
version: v2
baseUri: https://api.semaphoreci.com
mediaType: application/json

types:
  Error:
    type: object
    properties:
      message: string
  UserPost:
    type: object
    properties:
      name: string
  User:
    type: UserPost
    properties:
      id: integer
  Org:
    type: object
    properties:
      id: integer
      name: string
  TeamPost:
    type: object
    properties:
      name: string
      permission:
        enum: [read, write, admin]
      description?: string
  Team:
    type: TeamPost
    properties:
      id: integer
      url: string

traits:
  withRequestItem:
    body:
      application/json:
        type: <<item>>
  withResponseItem:
    responses:
      200:
        body:
          application/json:
            type: <<item>>
  withResponseItems:
    responses:
      200:
        body:
          application/json:
            type: <<item>>[]
  withCreateResponse:
    responses:
      201:
        body:
          application/json:
            type: <<item>>
  withClientError:
    responses:
      400:
        body:
          application/json:
            type: Error
  withNotFoundError:
    responses:
      404:
        body:
          application/json:
            type: Error
  withPreconditionFailedError:
    responses:
      412:
        body:
          application/json:
            type: Error

/users:
  description: Manage Semaphore users
  get:
    description: List all users
    is: [ withResponseItems: {item : User}, withClientError ]

  post:
    description: Create new user
    is: [ withRequestItem: {item : UserPost},
          withCreateResponse: {item : User},
          withClientError ]
    body:
      example: {name: jon}
            # example: { "message" : "User 'jon' already exists" }
  /{user_id}:
    get:
      description: Show {user_id} user
    delete:
      description: Delete {user_id} user

/orgs:
  get:
    description: Get list of all organizations
    is: [withResponseItems: {item : Org}]
  /{org_name}:
    get:
      description: Get organization details
      is: [withResponseItem: {item : Org}, withNotFoundError]
    /teams:
      get:
        description: List teams that belong to {org_name} organisation
        is: [withResponseItems: {item : Team}]
      post:
        description: Create team within the {org_name} organization
        is: [withRequestItem: {item : TeamPost},
             withResponseItem: {item : Team},
             withNotFoundError,
             withPreconditionFailedError]

/teams/{team_id}:
  get:
  delete:
  patch:
  /users:
    get:
    /{user_id}:
      post:
  /projects:
    get:
    post:
  /shared-configurations/{sc_id}:
    post:
    delete:

/projects/{project_id}:
  get:
  delete:
  patch:
  /shared-configurations:
    get:
    /{sc_id}:
      post:
      delete:
  /shared-environment-variables:
    get:
    /{sev_id}:
      post:
      delete:
  /shared-configuration-files:
    get:
    /{sev_id}:
      post:
      delete:

/shared-configurations:
  get:
  post:
  /{sc_id}:
    get:
    delete:
    patch:
    /shared-environment-variables:
      get:
      post:
    /shared-configuration-files:
      get:
      post:

/shared-environment-variables:
  /{sev_id}:
    get:
    delete:
    patch:

/shared-configuration-files:
  /{scf_id}:
    get:
    delete:
    patch:
